<div class="widget-small">
  <span class="widget-small-title">
    New Join Members
  </span>
  <ul class="widget-small-list">
    <li class="widget-small-item">
      <img src="../../../assets/images/portraitImg.jpg" alt="" class="widget-small-img">
      <div class="widget-small-user">
        <span class="widget-small-username">Anna Keller</span>
        <span class="widget-small-usertitle">Software Engineer</span>
      </div>
      <button class="widget-small-button">
        <span class="material-icons widget-small-icon">
        visibility
        </span>
        Display
      </button>
    </li>
    <li class="widget-small-item">
      <img src="../../../assets/images/portraitImg.jpg" alt="" class="widget-small-img">
      <div class="widget-small-user">
        <span class="widget-small-username">Anna Keller</span>
        <span class="widget-small-usertitle">Software Engineer</span>
      </div>
      <button class="widget-small-button">
        <span class="material-icons widget-small-icon">
        visibility
        </span>
        Display
      </button>
    </li>
    <li class="widget-small-item">
      <img src="../../../assets/images/portraitImg.jpg" alt="" class="widget-small-img">
      <div class="widget-small-user">
        <span class="widget-small-username">Anna Keller</span>
        <span class="widget-small-usertitle">Software Engineer</span>
      </div>
      <button class="widget-small-button">
        <span class="material-icons widget-small-icon">
        visibility
        </span>
        Display
      </button>
    </li>
    <li class="widget-small-item">
      <img src="../../../assets/images/portraitImg.jpg" alt="" class="widget-small-img">
      <div class="widget-small-user">
        <span class="widget-small-user">Anna Keller</span>
        <span class="widget-small-usertitle">Software Engineer</span>
      </div>
      <button class="widget-small-button">
        <span class="material-icons widget-small-icon">
        visibility
        </span>
        Display
      </button>
    </li>
    <li class="widget-small-item">
      <img src="../../../assets/images/portraitImg.jpg" alt="" class="widget-small-img">
      <div class="widget-small-user">
        <span class="widget-small-username">Anna Keller</span>
        <span class="widget-small-usertitle">Software Engineer</span>
      </div>
      <button class="widget-small-button">
        <span class="material-icons widget-small-icon">
        visibility
        </span>
        Display
      </button>
    </li>
  </ul>
</div>