<div class="widget-large">
  <h3 class="widget-large-title">Latest Transactions</h3>
  <table class="widget-large-table">
    <tr class="widget-large-tr">
      <th class="widget-large-th">Customer</th>
      <th class="widget-large-th">Date</th>
      <th class="widget-large-th">Amount</th>
      <th class="widget-large-th">Status</th>
    </tr>
    <tr class="widget-large-tr">
      <td class="widget-large-user">
        <img src="../../../assets/images/portraitImg.jpg" alt="User Image" class="widget-large-img">
        <span class="widget-large-name">Suzan Karol</span>
      </td>
      <td class="widget-large-date">4 Dec 2022</td>
      <td class="widget-large-amount">$ 20,202</td>
      <td class="widget-large-status">
        <app-button [type]="type1"></app-button>
      </td>
    </tr>
    <tr class="widget-large-tr">
      <td class="widget-large-user">
        <img src="../../../assets/images/portraitImg.jpg" alt="User Image" class="widget-large-img">
        <span class="widget-large-name">Suzan Karol</span>
      </td>
      <td class="widget-large-date">4 Dec 2022</td>
      <td class="widget-large-amount">$ 20,202</td>
      <td class="widget-large-status">
        <app-button [type]="type2"></app-button>
      </td>
    </tr>
    <tr class="widget-large-tr">
      <td class="widget-large-user">
        <img src="../../../assets/images/portraitImg.jpg" alt="User Image" class="widget-large-img">
        <span class="widget-large-name">Suzan Karol</span>
      </td>
      <td class="widget-large-date">4 Dec 2022</td>
      <td class="widget-large-amount">$ 20,202</td>
      <td class="widget-large-status">
        <app-button [type]="type3"></app-button>
      </td>
    </tr>
  </table>
</div>