<div class="featured">
  <div class="featured-item">
    <span class="featured-title">Revenue</span>
    <div class="featured-money-container">
      <span class="featured-money">$ 2,44</span>
      <span class="featured-money-rate">-11.4
        <span class="material-icons featured-icon negative">
          arrow_downward
          </span>
      </span>
    </div>
    <span class="featured-sub">Compared to last month</span>
  </div>
  <div class="featured-item">
    <span class="featured-title">Sales</span>
    <div class="featured-money-container">
      <span class="featured-money">$ 2,44</span>
      <span class="featured-money-rate">+11.4
        <span class="material-icons featured-icon negative">
          arrow_downward
          </span>
      </span>
    </div>
    <span class="featured-sub">Compared to last month</span>
  </div>
  <div class="featured-item">
    <span class="featured-title">Cost</span>
    <div class="featured-money-container">
      <span class="featured-money">$ 2,44</span>
      <span class="featured-money-rate">+2.4
        <span class="material-icons featured-icon positive">
          arrow_upward
          </span>
      </span>
    </div>
    <span class="featured-sub">Compared to last month</span>
  </div>
</div>