<div class="new-product">
  <h1 class="add-product-title">New Product</h1>
  <form class="add-product-form">
    <div class="add-product-item">
      <label for="file">Image</label>
      <input type="file" name="file" id="file">
    </div>
    <div class="add-product-item">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" placeholder="Apple airpod">
    </div>
    <div class="add-product-item">
      <label for="stock">Image</label>
      <input type="text" placeholder="285" name="stock" id="stock">
    </div>
    <div class="add-product-item">
      <label>Active</label>
      <select name="active" id="active">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </div>
    <button class="add-product-button">Create</button>
  </form>
</div>