<div class="sidebar">
  <div class="sidebar-wrapper">
    <div class="sidebar-menu">
      <h3 class="sidebar-title">Dashboard</h3>
      <ul class="sidebar-list">
        <li class="sidebar-item active" routerLink="/">
          <span class="material-icons sidebar-icons">
            grid_view
          </span>
          Dashboard
        </li>
        <li class="sidebar-item">
          <span class="material-icons sidebar-icons">
            home
          </span>
          Home
        </li>
        <li class="sidebar-item">
          <span class="material-icons sidebar-icons">
            trending_up
          </span>
          Analytics
        </li>
        <li class="sidebar-item">
          <span class="material-icons sidebar-icons">
            timeline
          </span>
          Sales
        </li>
      </ul>
    </div>
    <div class="sidebar-menu">
      <h3 class="sidebar-title">Quick Menu</h3>
      <ul class="sidebar-list">
        <li class="sidebar-item " routerLink="/users">
          <span class="material-icons sidebar-icons">
            person
          </span>
          Users
        </li>
        <li class="sidebar-item" routerLink="/products">
          <span class="material-icons sidebar-icons">
            inventory_2
          </span>
          Products
        </li>
        <li class="sidebar-item">
          <span class="material-icons sidebar-icons">
            attach_money
          </span>
          Transactions
        </li>
        <li class="sidebar-item">
          <span class="material-icons sidebar-icons">
            report
          </span>
          Reports
        </li>
      </ul>
    </div>
    <div class="sidebar-menu">
      <h3 class="sidebar-title">Notifications</h3>
      <ul class="sidebar-list">
        <li class="sidebar-item ">
          <span class="material-icons sidebar-icons">
            mail
          </span>
          mail
        </li>
        <li class="sidebar-item">
          <span class="material-icons sidebar-icons">
            feedback
          </span>
          Feedbacks
        </li>
        <li class="sidebar-item">
          <span class="material-icons sidebar-icons">
            message
          </span>
          Message
        </li>
      </ul>
    </div>
    <div class="sidebar-menu">
      <h3 class="sidebar-title">Staff</h3>
      <ul class="sidebar-list">
        <li class="sidebar-item ">
          <span class="material-icons sidebar-icons">
            home_repair_service
          </span>
          Manage
        </li>
        <li class="sidebar-item">
          <span class="material-icons sidebar-icons">
            timeline
          </span>
          Analytics
        </li>
        <li class="sidebar-item">
          <span class="material-icons sidebar-icons">
            report
          </span>
          Report
        </li>
      </ul>
    </div>
  </div>
</div>