<div class="topbar">
  <div class="topbar-wrapper">
    <div class="left">
      <span class="logo">DONA<span style="color: #cdad21;">ADMIN</span></span>
    </div>
    <div class="right">
      <div class="topbar-icon-container bell">
        <span class="material-icons" style="font-size: 35px;">
          notifications_none
          </span>
          <span class="topicon-badge">2</span>
      </div>
      <div class="topbar-icon-container">
        <span class="material-icons" style="font-size: 35px;">
          language
          </span>
      </div>
      
      <div class="topbar-icon-container">
        <span class="material-icons" style="font-size: 35px;">
          settings
          </span>
      </div>
      <img src="../../../assets/images/portraitImg.jpg" alt="" class="topbar-avater">
    </div>
  </div>
</div>